<a href="https://colab.research.google.com/github/Modada1/movie-analysis/blob/main/Copy_of_movie_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
movies=pd.read_csv('/content/movie.csv')
movies

,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
0,10,La sortie des usines Lumi?re (1895),Documentary|Short
1,12,The Arrival of a Train (1896),Documentary|Short
2,25,The Oxford and Cambridge University Boat Race ...,NaN
3,91,Le manoir du diable (1896),Short|Horror
4,131,Une nuit terrible (1896),Short|Comedy|Horror
...,...,...,...
37336,14499632,22 vs. Earth (2021),Animation|Short|Adventure
37337,14527836,Recalled (2021),Drama|Mystery|Thriller
37338,14544192,Bo Burnham,NaN
37339,14735160,Mum is Pregnant (2021),NaN
37340,14740904,Juanes,NaN

In [ ]:
movies.columns=["ID","Title","Genre"]
movies.head()

    ID                                              Title                Genre
0   10                La sortie des usines Lumi?re (1895)    Documentary|Short
1   12                      The Arrival of a Train (1896)    Documentary|Short
2   25  The Oxford and Cambridge University Boat Race ...                  NaN
3   91                         Le manoir du diable (1896)         Short|Horror
4  131                           Une nuit terrible (1896)  Short|Comedy|Horror

In [ ]:
ratings=pd.read_csv('/content/ratings.csv')
ratings.head()

   1   114508  8  1381006850
0  2   499549  9  1376753198
1  2  1305591  8  1376742507
2  2  1428538  1  1371307089
3  3    75314  1  1595468524
4  3   102926  9  1590148016

In [ ]:
ratings.columns=["User",'ID',"Rating","Datestamp"]
ratings

         User       ID  Rating   Datestamp
0           2   499549       9  1376753198
1           2  1305591       8  1376742507
2           2  1428538       1  1371307089
3           3    75314       1  1595468524
4           3   102926       9  1590148016
...       ...      ...     ...         ...
906825  70781  9893250      10  1613857551
906826  70781  9898858       3  1585958452
906827  70782   172495      10  1587107015
906828  70782   414387      10  1587107852
906829  70783  1623205       6  1362832655

[906830 rows x 4 columns]

In [ ]:
data=pd.merge(movies,ratings,on=["ID","ID"])
data

,ID,Title,Genre,User,Rating,Datestamp
0,10,La sortie des usines Lumi?re (1895),Documentary|Short,70577,10,1412878553
1,12,The Arrival of a Train (1896),Documentary|Short,69535,10,1439248579
2,25,The Oxford and Cambridge University Boat Race ...,NaN,37628,8,1488189899
3,91,Le manoir du diable (1896),Short|Horror,5814,6,1385233195
4,91,Le manoir du diable (1896),Short|Horror,37239,5,1532347349
...,...,...,...,...,...,...
908627,14544192,Bo Burnham,NaN,55241,10,1622416491
908628,14544192,Bo Burnham,NaN,57060,10,1623092790
908629,14544192,Bo Burnham,NaN,68109,3,1622844954
908630,14735160,Mum is Pregnant (2021),NaN,19702,9,1622798273
908631,14740904,Juanes,NaN,51324,6,1622959573

In [ ]:
ratings=data["Rating"].value_counts()
numbers=ratings.index
quantity=ratings.values

In [ ]:
import plotly.express as px

In [ ]:
fig=px.pie(data,values=quantity,names=numbers)
fig.show()

top 10 movies with ratings 8